@import url(https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap);

50% {
transform:translateX(0);
}

to {
transform:translateX(100rem);
}

.grid__title,.moving__text,.section__2 .section__wrapper .section__half--title,.section__4 .static__text:first-child,.static__text:last-child {
font-size:3rem;
color:#000;
font-weight:700;
text-transform:uppercase;
}

* {
box-sizing:border-box;
}

html {
font-size:62.5%;
}

body {
font-family:Raleway,sans-serif;
width:100%;
height:200vh;
}

.header {
height:14rem;
width:100%;
margin-top:2rem;
padding-top:2.4rem;
color:#000;
font-size:1.7rem;
font-weight:700;
text-align:center;
display:flex;
flex-direction:column;
align-items:center;
}

.header .sticky {
width:90%;
position:fixed;
top:0;
z-index:100;
padding:1rem 2rem;
}

.header .header__nav--first,.header .header__nav--second {
width:90%;
background-color:#fff;
padding:1rem 2rem;
}

.header .header__nav__first--lists {
display:grid;
-ms-grid-columns:2fr 4fr 1fr 1fr;
grid-template-columns:2fr 4fr 1fr 1fr;
background-color:#fff;
padding:1.5rem 0;
}

.header .header__nav__first--lists .header__nav__list:nth-child(2) {
font-size:2rem;
}

.header .header__nav__second--lists {
display:flex;
justify-content:space-around;
background-color:#fff;
padding:1.5rem 0;
}

.header .header__nav__second--lists .header__nav__list:first-child {
color:#00f;
}

.header .header__nav__list {
transition:all .4s;
}

.section__1 {
width:100%;
margin-top:5rem;
height:60rem;
color:#fff;
text-transform:uppercase;
text-align:center;
}

.section__1 .section__1--img {
width:100%;
position:relative;
}

.section__1 .section__1--img .section__1--video {
width:100%;
height:100%;
-o-object-fit:cover;
object-fit:cover;
z-index:-1;
}

.section__1 .section__1--texts {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:100;
flex-direction:column;
}

.section__1 .section__1--texts .section__1--title {
font-size:4rem;
font-weight:700;
margin-bottom:1.4rem;
}

.section__1 .section__1--texts,.section__1 .section__1--texts .section__1__links {
display:flex;
justify-content:center;
}

.section__1 .section__1--texts .section__1--link a {
color:#fff;
font-size:1.8rem;
padding:0 1rem;
}

.section__2 {
width:100%;
margin-top:30rem;
height:60rem;
}

.section__2 .section__wrapper,.section__3 {
display:flex;
}

.section__2 .section__wrapper .section__half--1,.section__2 .section__wrapper .section__half--2 {
width:100%;
height:60rem;
background-image:url(https://images.unsplash.com/photo-1487766036723-04aebf785670?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
background-position:center;
background-size:cover;
position:relative;
}

.section__2 .section__wrapper .section__half--1 .section__half--1--hover {
position:absolute;
width:100%;
height:60rem;
top:0;
left:0;
transition:all .4s;
display:flex;
justify-content:center;
align-items:center;
opacity:0;
}

.section__2 .section__wrapper .section__half--1 .section__half--1--hover:hover,.section__2 .section__wrapper .section__half--2 .section__half--2--hover:hover {
background-color:rgba(255,255,255,.982);
opacity:.8;
}

.section__2 .section__wrapper .section__half--1 .section__half--1--hover:hover .section__half--title,.section__2 .section__wrapper .section__half--2 .section__half--2--hover:hover .section__half--title {
opacity:1;
}

.section__2 .section__wrapper .section__half--2 {
background-image:url(https://images.unsplash.com/photo-1548080819-84b0d779e8e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
}

.section__2 .section__wrapper .section__half--2 .section__half--2--hover {
position:absolute;
width:100%;
height:60rem;
top:0;
right:0;
transition:all .4s;
display:flex;
justify-content:center;
align-items:center;
opacity:0;
}

.section__3 {
width:100%;
margin-top:16rem;
height:60rem;
flex-direction:column;
}

.section__3 .grid__title {
text-align:center;
}

.section__3 .grid__container {
margin-top:5rem;
display:grid;
-ms-grid-columns:(1fr)[3];
grid-template-columns:repeat(3,1fr);
-ms-grid-rows: 60rem 8rem;
grid-template-rows: 60rem 8rem;
}

.section__3 .grid__container>:nth-child(2) {
-ms-grid-row:1;
-ms-grid-column:2;
}

.section__3 .grid__container>:nth-child(4) {
-ms-grid-row:2;
-ms-grid-column:1;
}

.section__3 .grid__container>:nth-child(5) {
-ms-grid-row:2;
-ms-grid-column:2;
}

.section__3 .grid__container>:nth-child(6) {
-ms-grid-row:2;
-ms-grid-column:3;
}

.section__3 .grid__container .grid__box:first-child {
transition:all .4s;
background-image:url(https://images.unsplash.com/photo-1524230572899-a752b3835840?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80);
background-position:center;
background-size:110%;
}

.section__3 .grid__container .grid__box:nth-child(2),.section__3 .grid__container .grid__box:nth-child(3) {
transition:all .4s;
background-image:url(https://images.unsplash.com/photo-1518156677180-95a2893f3e9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
background-position:center;
background-size:110%;
}

.section__3 .grid__container .grid__box:nth-child(3) {
background-image:url(https://images.unsplash.com/photo-1571028615095-0db363448887?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80);
}

.section__3 .grid__container .grid__info {
margin-top:2rem;
display:flex;
flex-direction:column;
margin-left:1.4rem;
}

.section__3 .grid__container .grid__info .grid__detail:not(:last-child) {
margin-bottom:.8rem;
font-size:1.4rem;
}

.section__4 {
width:100%;
margin-top:26rem;
height:4rem;
display:flex;
justify-content:center;
align-items:center;
}

.moving__text {
font-size:1.8rem;
white-space:nowrap;
width:100%;
height:4rem;
position:absolute;
z-index:100;
top:0;
left:0;
-webkit-animation:movingText 13s linear infinite;
animation:movingText 13s linear infinite;
}

.footer {
width:100%;
height:10rem;
margin:8rem 0;
}

.footer .footer__container {
display:grid;
-ms-grid-columns:1fr 10px 1fr;
grid-template-columns:repeat(2,1fr);
-ms-grid-rows:100%;
grid-template-rows:100%;
gap:10px;
}

.footer .footer__container .footer__box {
width:100%;
padding:2rem 4rem;
}

.footer .footer__container .footer__box .footer__newsletter--title {
font-weight:500;
font-size:1.6rem;
}

.footer .footer__container .footer__box .footer__newsletter--info {
margin-top:2rem;
}

.footer .footer__container .footer__box .footer__newsletter--info .footer__form .footer__input {
background-color:#fff;
outline:0;
border:1px solid #000;
margin-right:1rem;
padding:1.4rem 12rem 1.4rem 2rem;
}

.footer .footer__container .footer__box .footer__newsletter--info .footer__form .footer__btn {
background-color:#f0f3f4;
outline:0;
border:0;
font-weight:500;
font-size:1.6rem;
margin-right:1rem;
padding:1.4rem 1rem;
}

.footer .footer__container .footer__box .footer__newsletter,.footer__box--2 .footer__details__box {
display:flex;
flex-direction:column;
}

.footer__box--2 {
display:grid;
-ms-grid-columns:(1fr)[2];
grid-template-columns:repeat(2,1fr);
}

.footer__box--2 .footer__details__box .footer__details--title {
margin-bottom:2rem;
font-weight:500;
font-size:1.6rem;
}

.footer__box--2 .footer__details__box .footer__details--info {
display:grid;
-ms-grid-columns:1fr 10px 1fr;
grid-template-columns:repeat(2,1fr);
gap:10px;
-ms-grid-rows:1rem 10px 1rem;
grid-template-rows:repeat(2,1rem);
font-size:1.4rem;
}

.footer__box--2 .footer__details__box .footer__details--info>:nth-child(3) {
-ms-grid-row:3;
-ms-grid-column:1;
}

.footer__box--2 .footer__details__box .footer__details--info>:nth-child(4) {
-ms-grid-row:3;
-ms-grid-column:3;
}

.hidden {
display:none;
}

.section__3 .grid__container>:nth-child(1),.footer .footer__container>:nth-child(1),.footer__box--2 .footer__details__box .footer__details--info>:nth-child(1) {
-ms-grid-row:1;
-ms-grid-column:1;
}

.section__3 .grid__container>:nth-child(3),.footer .footer__container>:nth-child(2),.footer__box--2 .footer__details__box .footer__details--info>:nth-child(2) {
-ms-grid-row:1;
-ms-grid-column:3;
}

.section__3 .grid__container .grid__box:first-child:hover,.section__3 .grid__container .grid__box:nth-child(2):hover,.section__3 .grid__container .grid__box:nth-child(3):hover {
background-size:100%;
filter:brightness(90%);
}

.section__4 .static__text:first-child,.static__text:last-child {
width:50%;
height:4rem;
font-size:1.8rem;
text-align:center;
position:relative;
overflow:hidden;
}